<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- BenchmarkDotNet nightlies: needed until a stable release recognises net11.0. -->
    <add key="benchmarkdotnet-nightly" value="https://www.myget.org/F/benchmarkdotnet/api/v3/index.json" />
  </packageSources>
</configuration>